<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armas</title>
    
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>

</head>

<body>
    <h1>Cadastro de Armas</h1>    
    <a href="/">Menu</a>
    <br>
    <br>
    <form th:action="@{/salvarArma}" method="POST">
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" name="nome" required/>
        <input type="submit" value="Salvar" />
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Detalhes</th>
        </tr>
       
        <tr th:each="armas : ${armas}">
            <td th:text="${armas.codigo}"></td>
            <td th:text="${armas.nome}"></td>
            <td> <a th:href="@{'/detalhesArmas/' + ${armas.codigo}}">Detalhes</a></td>
        </tr>
    </table>
</body>

</html>