<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
</head>

<body>
	<form th:action="@{/salvar}" th:object="${personagem}" method="POST">
		<label>Nome: </label>
        <input type="text" name="nome"/>
      	
      	<label>Clas:</label>
      	
      	<select th:field="${personagem.cla}" required>
      		<option value="">Escolha o cla</option>
      		<option th:each="cla : ${clas}"
      				th:value="${cla.id}"
      				th:text="${cla.nome}">
      		
      		</option>
      	</select>  
        
        
        <input type="submit" value="Salvar"/>
    </form>
    <table>
    	   <tr>
            <th>Matricula</th>
            <th>Nome</th>
            <th>Cla</th>
        	</tr>
        <tr th:each="personagem : ${personagens}">
        	<td th:text="${personagem.numero}"></td>
            <td th:text="${personagem.nome}"></td>
         	<td th:text="${personagem.cla?.nome}"></td>
           
        </tr>
    </table>
</body>

</html>